/* Font Imports */
@import url("https://fonts.cdnfonts.com/css/patung");
@import url("https://fonts.cdnfonts.com/css/avenir");
@import url("https://fonts.cdnfonts.com/css/playfair-display");
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.1/css/all.min.css");

/* Base Styles */
body {
  margin: 0;
  padding: 0;
  font-family:
    "Avenir",
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    sans-serif;
  background: url("https://airborneo-iacatj-dev1.fa.ocs.oraclecloud.com:443/hcmUI/CandidateExperience/images?imageId=4CA5641D-0A2E-4269-81A1-5FD45451AADE") no-repeat center
    center fixed;
  background-size: cover;
}

/* Internship Ready To Apply */
/* Main Container */
.internship-ready-to-apply__container {
  display: grid !important;
  grid-template-columns: 1fr !important;
  width: 100% !important;
  box-sizing: border-box !important;
  gap: 32px !important;
  max-width: 1088px !important;
  margin: 0 auto !important;
  padding: 32px 24px !important;
}

@media (max-width: 1024px) {
  .internship-ready-to-apply__container {
    padding: 32px 24px !important;
  }
}

@media (max-width: 768px) {
  .internship-ready-to-apply__container {
    padding: 32px 16px !important;
  }
}

/* Title Section */
.internship-ready-to-apply__title-section {
  display: grid !important;
  grid-template-columns: 1fr !important;
  align-items: start !important;
  align-content: start !important;
  justify-content: center !important;
  justify-items: center !important;
  width: 100% !important;
  gap: 16px !important;
}

@media (max-width: 768px) {
  .internship-ready-to-apply__title-section {
    margin-bottom: 32px !important;
  }
}

/* Title */
.internship-ready-to-apply__title-wrapper {
  display: grid !important;
  width: 100% !important;
  gap: 8px !important;
}

.internship-ready-to-apply__title {
  font-size: 24px !important;
  font-weight: 800 !important;
  text-align: center !important;
  color: #221f1f !important;
  margin-block-start: 0px !important;
  margin-block-end: 0px !important;
  padding: 0px !important;
}

@media (max-width: 1024px) {
  .internship-ready-to-apply__title {
    font-size: 20px !important;
  }
}

/* Title Divider */
.internship-ready-to-apply__title-divider {
  width: 48px !important;
  height: 4px !important;
  background: #daaa5f !important;
  margin: 0 auto !important;
}

.internship-ready-to-apply__subtitle {
  font-size: 16px !important;
  color: #221f1f !important;
  margin: 0 !important;
  line-height: 28px !important;
  padding: 0px !important;
}

/* Cards Section */
.internship-ready-to-apply__cards {
  display: grid !important;
  grid-template-columns: 1fr 1fr !important;
  gap: 32px !important;
  width: 100% !important;
}

@media (max-width: 768px) {
  .internship-ready-to-apply__cards {
    grid-template-columns: 1fr !important;
    gap: 16px !important;
  }
}

.internship-ready-to-apply__card {
  background: white !important;
  border-radius: 12px !important;
  /* padding: 32px; */
  box-shadow:
    0px 10px 15px -3px rgba(0, 0, 0, 0.1),
    0px 4px 6px -4px rgba(0, 0, 0, 0.1) !important;
}

.internship-ready-to-apply__card-title-wrapper {
  padding: 18px !important;
  border-bottom: 2px solid #daaa5f !important;
}

.internship-ready-to-apply__card-title {
  font-size: 20px !important;
  color: #221f1f !important;
  margin: 0px !important;
  font-weight: 800 !important;
  line-height: 20px !important;
  padding: 0px !important;
}

@media (max-width: 768px) {
  .internship-ready-to-apply__card-title {
    font-size: 18px !important;
    line-height: 18px !important;
  }
}

.internship-ready-to-apply__card-list-wrapper {
  padding: 24px 24px 52px 24px !important;
}

@media (max-width: 1024px) {
  .internship-ready-to-apply__card-list-wrapper {
    padding: 38px 24px !important;
  }
}

@media (max-width: 1024px) {
  .internship-ready-to-apply__card-list-wrapper {
    padding: 24px !important;
  }
}

.internship-ready-to-apply__card-list {
  margin: 0 !important;
  padding: 0 0 0 20px !important;
  list-style: disc !important;
  color: #221f1f !important;
}

.internship-ready-to-apply__card-list-item {
  line-height: 28px !important;
  font-size: 16px !important;
  font-weight: 400 !important;
  padding: 0px !important;
}

.internship-ready-to-apply__card-list-item:last-child {
  margin-bottom: 0 !important;
}

@media (max-width: 768px) {
  .internship-ready-to-apply__card-list-item {
    font-size: 14px !important;
    line-height: 26px !important;
    margin-bottom: 10px !important;
  }
}

/* How to Apply Banner */
.internship-ready-to-apply__banner {
  background: radial-gradient(
    196.12% 396.37% at 2.46% 0.21%,
    #daaa5f 0%,
    #be862d 100%
  ) !important;
  display: grid !important;
  grid-template-columns: 1fr !important;
  align-items: start !important;
  align-content: start !important;
  justify-content: center !important;
  justify-items: center !important;
  text-align: center !important;
  gap: 32px !important;
  width: 100% !important;
  border-radius: 16px !important;
  padding: 42px !important;
  box-sizing: border-box !important;
  box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.12) !important;
}

@media (max-width: 1024px) {
  .internship-ready-to-apply__banner {
    padding: 42px 62.5px !important;
  }
}

@media (max-width: 768px) {
  .internship-ready-to-apply__banner {
    padding: 32px !important;
  }
}

.internship-ready-to-apply__banner-title-description-wrapper {
  display: grid !important;
  width: 100% !important;
  gap: 16px !important;
}

.internship-ready-to-apply__banner-title-wrapper {
  display: grid !important;
  width: 100% !important;
  gap: 8px !important;
}

.internship-ready-to-apply__banner-title {
  font-size: 24px !important;
  font-weight: 800 !important;
  text-align: center !important;
  color: white !important;
  margin-block-start: 0px !important;
  margin-block-end: 0px !important;
  padding: 0px !important;
}

@media (max-width: 1024px) {
  .internship-ready-to-apply__banner-title {
    font-size: 20px !important;
  }
}

/* Title Divider */
.internship-ready-to-apply__banner-title-divider {
  width: 48px !important;
  height: 4px !important;
  background: #daaa5f !important;
  margin: 0 auto !important;
}

.internship-ready-to-apply__banner-description {
  font-size: 14px !important;
  color: white !important;
  line-height: 100% !important;
  font-weight: 400 !important;
  letter-spacing: 2% !important;
  margin: 0 !important;
  padding: 0px !important;
}

.internship-ready-to-apply__banner-link {
  color: white !important;
  text-decoration: underline !important;
  font-weight: 400 !important;
  letter-spacing: 2% !important;
  padding: 0px !important;
}

.internship-ready-to-apply__banner-text {
  font-size: 15px !important;
  color: white !important;
  line-height: 100% !important;
  margin: 0px !important;
  letter-spacing: 2% !important;
  padding: 0px !important;
}

.internship-ready-to-apply__banner-note {
  font-size: 13px !important;
  color: white !important;
  line-height: 100% !important;
  margin: 0px !important;
  font-style: italic !important;
  letter-spacing: 2% !important;
  font-weight: 400 !important;
  padding: 0px !important;
}
